/*
  Note: These are temporary previews of the images. 
  They're active for 10-15 days only. You should replace them with the actual images before using the code in production.
*/
:root {
  --image-0: url("./images/image0.png");
  --custom-width: min(1728px, 100vw);
  --design-width: 1728;
  --ratio: calc(var(--custom-width) / var(--design-width));
}

/* Default classes */
.pos-abs {
  position: absolute;
}
.fill-parent {
  width: 100%;
  height: 100%;
}
.bg-contain {
  background-size: contain;
}
.bg-cover {
  background-size: cover;
}
.bg-auto {
  background-size: auto;
}
.bg-crop {
  background-size: 100% 100%;
}
.bg-no-repeat {
  background-repeat: no-repeat;
}
.pos-init {
  top: 0px;
  left: 0px;
}
.image-div {
  background-color: transparent;
  background-position: center;
}
/* Default classes end */
body {
  margin: 0px;
  padding: 0px;
}
.parent-div {
  position: relative;
  width: var(--custom-width);
  height: calc(0.65 * var(--custom-width));
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.artistbefortrav-1-137471 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
  overflow: hidden;
  background: #000000ff;
}
.nodeBg-195 {
  background-image: var(--image-0);
  opacity: 1;
}
.clippedimage202-1-218736 {
  width: 26.22%;
  height: 78.42%;
  top: 11.19%;
  left: 37.73%;
  opacity: 1;
  z-index: 6;
  transform: rotate(0deg);
  overflow: hidden;
}
.scott-1-338985 {
  width: 63.37%;
  height: 23.63%;
  top: 38.14%;
  left: 57.93%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.scott-1-338985-0 {
  font-size: calc(223 * var(--ratio));
  font-family: Inter;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(224 * var(--ratio));
  color: #ffffffff;
}

.travis-1-357492 {
  width: 70.31%;
  height: 23.28%;
  top: 38.5%;
  left: -2.43%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.travis-1-357492-0 {
  font-size: calc(223 * var(--ratio));
  font-family: Inter;
  font-weight: 500;

  text-decoration: none;
  text-transform: none;

  line-height: calc(224 * var(--ratio));
  color: #ffffffff;
}

.title-1-362544 {
  width: 10.65%;
  height: 5.82%;
  top: 5.64%;
  left: 44.68%;
  opacity: 1;
  z-index: 5;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.title-1-362544-0 {
  font-size: calc(63 * var(--ratio));
  font-family: Manjari;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(64 * var(--ratio));
  color: #ffffffff;
}

.frame-2-1-8500 {
  width: 23.15%;
  height: 16.92%;
  top: 34.74%;
  left: -56.08%;
  opacity: 1;
  z-index: 3;
  transform: rotate(0deg);
}
.centerimage-1-97156 {
  width: 24.54%;
  height: 50.85%;
  top: 18.26%;
  left: 37.73%;
  opacity: 1;
  z-index: 4;
  transform: rotate(0deg);
  overflow: hidden;
  border-radius: 280px 280px 0px 0px;
  background: #a3a3a3ff;
  box-shadow: 32px 32px 0px 0px rgba(255, 255, 255, 0.25);
}
.footer-1-505176 {
  width: 100%;
  height: 0%;
  top: 97.14%;
  left: 0%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
}
.horizontalline-1-434920 {
  width: 83.33%;
  height: NaN%;
  top: NaN%;
  left: 8.33%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 0.5px #ffffffe0,
    inset 0 0 0.5px 0 #ffffffe0,
    inset 0 0.5px 0 0 #ffffffe0,
    inset 0.5px 0 0 0 #ffffffe0;
  border-left: 0px solid #ffffffe0;
  border-right: 0px solid #ffffffe0;
  border-top: 0px solid #ffffffe0;
  border-bottom: 0px solid #ffffffe0;
}
.menu-dropdown-1-820983 {
  width: 3.65%;
  height: 4.03%;
  top: 5.82%;
  left: 3.18%;
  opacity: 1;
  z-index: 7;
  transform: rotate(0deg);
  overflow: hidden;
}
.for-creators1-0-124000 {
  width: 63.46%;
  height: 14.79%;
  top: 19.53%;
  left: 36.54%;
  opacity: 0;
  z-index: -10;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.for-creators1-0-124000-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Inter;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #ffffffff;
}

.line-1-1-486156 {
  width: 61.9%;
  height: 0%;
  top: 24.44%;
  left: 22.22%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 2.5px #ffffffff,
    inset 0 0 2.5px 0 #ffffffff,
    inset 0 2.5px 0 0 #ffffffff,
    inset 2.5px 0 0 0 #ffffffff;
  border-left: 2px solid #ffffffff;
  border-right: 2px solid #ffffffff;
  border-top: 2px solid #ffffffff;
  border-bottom: 2px solid #ffffffff;
}
.line-2-1-81000 {
  width: 61.9%;
  height: 0%;
  top: 46.67%;
  left: 22.22%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 2.5px #ffffffff,
    inset 0 0 2.5px 0 #ffffffff,
    inset 0 2.5px 0 0 #ffffffff,
    inset 2.5px 0 0 0 #ffffffff;
  border-left: 2px solid #ffffffff;
  border-right: 2px solid #ffffffff;
  border-top: 2px solid #ffffffff;
  border-bottom: 2px solid #ffffffff;
}
.line-31-0-293760 {
  width: 61.9%;
  height: 0%;
  top: 68.89%;
  left: 22.22%;
  opacity: 0;
  z-index: -10;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 2.5px #ffffffff,
    inset 0 0 2.5px 0 #ffffffff,
    inset 0 2.5px 0 0 #ffffffff,
    inset 2.5px 0 0 0 #ffffffff;
  border-left: 2px solid #ffffffff;
  border-right: 2px solid #ffffffff;
  border-top: 2px solid #ffffffff;
  border-bottom: 2px solid #ffffffff;
}
.for-listners1-0-176344 {
  width: 63.46%;
  height: 15.98%;
  top: 37.28%;
  left: 36.54%;
  opacity: 0;
  z-index: -10;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.for-listners1-0-176344-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Inter;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #ffffffff;
}

.feeds1-0-350898 {
  width: 31.92%;
  height: 15.38%;
  top: 55.62%;
  left: 36.54%;
  opacity: 0;
  z-index: -10;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.feeds1-0-350898-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Inter;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #ffffffff;
}

.merchandise1-0-207242 {
  width: 59.23%;
  height: 17.16%;
  top: 73.37%;
  left: 36.54%;
  opacity: 0;
  z-index: -10;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.merchandise1-0-207242-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Inter;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #ffffffff;
}

.home1-0-103040 {
  width: 31.92%;
  height: 15.38%;
  top: 0%;
  left: 36.54%;
  opacity: 0;
  z-index: -10;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.home1-0-103040-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Inter;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #ffffffff;
}

.line-3-1-68238 {
  width: 61.9%;
  height: 0%;
  top: 68.89%;
  left: 22.22%;
  opacity: 1;
  z-index: 2;
  transform: rotate(0deg);
  box-shadow:
    inset 0 0 0 2.5px #ffffffff,
    inset 0 0 2.5px 0 #ffffffff,
    inset 0 2.5px 0 0 #ffffffff,
    inset 2.5px 0 0 0 #ffffffff;
  border-left: 2px solid #ffffffff;
  border-right: 2px solid #ffffffff;
  border-top: 2px solid #ffffffff;
  border-bottom: 2px solid #ffffffff;
}
.listen-1-23448 {
  width: 12.5%;
  height: 9.94%;
  top: 79.68%;
  left: 44.04%;
  opacity: 1;
  z-index: 8;
  transform: rotate(0deg);
  overflow: hidden;
}
.button-1-61938 {
  width: 79.17%;
  height: 53.15%;
  top: 18.92%;
  left: 10.19%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  border-radius: 20px 20px 20px 20px;
  background: #a3a3a361,
    linear-gradient(135.37deg, #404040ff 56%, #a3a3a3ff 88%);
  box-sizing: border-box;
  border-left: 1px solid #ffffffff;
  border-right: 1px solid #ffffffff;
  border-top: 1px solid #ffffffff;
  border-bottom: 1px solid #ffffffff;
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow:
    0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.listen-1-416936 {
  width: 57.87%;
  height: 32.43%;
  top: 32.43%;
  left: 31.02%;
  opacity: 1;
  z-index: 1;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.listen-1-416936-0 {
  font-size: calc(23 * var(--ratio));
  font-family: Inter;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(24 * var(--ratio));
  color: #ffffffff;
}

.login-1-309374 {
  width: 7.58%;
  height: 3.49%;
  top: 6.36%;
  left: 91.26%;
  opacity: 1;
  z-index: 9;
  transform: rotate(0deg);
}
.connect-1-36309 {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  opacity: 1;
  z-index: 0;
  transform: rotate(0deg);
  text-align: left;
  line-height: 0px;
}
.connect-1-36309-0 {
  font-size: calc(19 * var(--ratio));
  font-family: Malgun Gothic;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;

  line-height: calc(20 * var(--ratio));
  color: #ffffffff;
}
